In [1]:
import pandas as pd

In [2]:
pd.read_csv('cleaned_solar_energy_production_calgary.csv')

,id,address,kWh,installationDate,year,month,day,time_hour,time_min,name_CFD Firehall #7,name_Calgary Fire Hall Headquarters,name_City of Calgary North Corporate Warehouse,name_Glenmore Water Treatment Plant,name_Hillhurst Sunnyside Community Association,name_Manchester Building M,name_Richmond - Knob Hill Community Hall,name_Southland Leisure Centre,name_Telus Spark,name_Whitehorn Multi-Service Centre
0,164440,2000 SOUTHLAND DR SW,27.805,2015-09-01,2015,9,1,14,30,0,0,0,0,0,0,0,1,0,0
1,164440,2000 SOUTHLAND DR SW,30.559,2015-09-01,2015,9,1,15,30,0,0,0,0,0,0,0,1,0,0
2,164440,2000 SOUTHLAND DR SW,23.613,2015-09-01,2015,9,1,16,30,0,0,0,0,0,0,0,1,0,0
3,164440,2000 SOUTHLAND DR SW,15.257,2015-09-01,2015,9,1,17,30,0,0,0,0,0,0,0,1,0,0
4,164440,2000 SOUTHLAND DR SW,7.896,2015-09-01,2015,9,1,18,30,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264374,594148,220 ST GEORGES DR NE,9.092,2017-11-27,2018,1,3,12,0,0,0,0,0,0,0,0,0,1,0
264375,594148,220 ST GEORGES DR NE,9.979,2017-11-27,2018,1,3,13,0,0,0,0,0,0,0,0,0,1,0
264376,594148,220 ST GEORGES DR NE,8.423,2017-11-27,2018,1,3,14,0,0,0,0,0,0,0,0,0,1,0
264377,594148,220 ST GEORGES DR NE,4.346,2017-11-27,2018,1,3,15,0,0,0,0,0,0,0,0,0,1,0
264378,594148,220 ST GEORGES DR NE,0.335,2017-11-27,2018,1,3,16,0,0,0,0,0,0,0,0,0,1,0